{% extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}
    {% trans "Order list" %}
{% endblock %}


{% block heading %}

    <div class="page-header">
        <div class="row">
            <div class="col-xs-12 col-md-1"></div>
            <div class="col-xs-12 col-md-8">
                <h1 class="page-title">
                    {% trans "Order list" %}
                </h1>
                <p class="lead page-description">{% trans "Browse and pick orders here." %}</p>
            </div>
            <div class="col-xs-12 col-md-2">
                <button type="button"
                        class="btn btn-primary btn-lg list-page-btn">
                    {% trans "Place Order" %}
                </button>
            </div>
            <div class="col-xs-12 col-md-1"></div>
        </div>
    </div>

{% endblock %}


{% block main %}

    {% if filter.qs %}
        <div class="list-group">
            {% for order in filter.qs %}
                <a href="#" class="list-group-item
                    {% if order.is_available %}
                        list-group-item-warning
                    {% endif %}
                ">
                    <h4 class="list-group-item-heading">
                        {{ order.title|truncatewords:40 }}
                        {% if order.bounty_size %}
                            <span class="badge">&yen;{{ order.bounty_size }}</span>
                        {% endif %}
                    </h4>
                    <p class="list-group-item-text">
                        {{ order.body|truncatewords:80 }}
                    </p>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <h3 class="text-center">{% trans "There are no orders here..." %}</h3>
    {% endif %}

    {% if is_paginated %}
        {% include 'pagination.html' %}
    {% endif %}

{% endblock %}


{% block sidebar %}

    <aside class="col-md-3">

        {% include 'notice.html' %}

        <form class="sidebar-form" method="get" action="">
            {% csrf_token %}
            {{ filter.form|crispy }}
            <button type="submit" class="btn btn-primary btn-block">
                {% trans "Search" %}
            </button>
        </form>

        {% include 'adv.html' %}

    </aside>

{% endblock %}