{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Order list" %}{% endblock %}

{% block heading %}
    <h2>{% trans "Order list" %}</h2>
{% endblock %}

{% block content %}
    <ul class="list-group">
        {% for order in order_list %}
            <li class="list-group-item {% if order.is_taken %}list-group-item-success{% endif %}">
                <h4 class="list-group-item-heading">
                    {{ order.title|truncatewords:40 }}
                    {% if order.bounty_size %}
                        <span class="badge">&yen;{{ order.bounty_size }}</span>
                    {% endif %}
                </h4>
                <p class="list-group-item-text">
                    {{ order.body|truncatewords:80 }}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}