dj-database-url==0.4.2
Django==1.11.1
django-crispy-forms==1.6.1
django-datetime-widget==0.9.3
django-filter==1.0.3
git+git://github.com/django-haystack/django-haystack.git
ForgeryPy3==0.3.1
gunicorn==19.7.1
psycopg2==2.7.1
whitenoise==3.3.0
Whoosh==2.7.4
