/*
 * Globals
 */

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

/*
 * Page name and description
 */

.page-header {
    padding-bottom: 20px;
}

.page-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.page-description {
    font-size: 20px;
    color: #999;
}

/*
 * Advertisement
 */

.adv-img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

/*
 * Pagination
 */

.pager {
    margin-top: 3em;
}

/*
 * Buttons
 */

.list-page-btn {
    display: block;
    margin-top: 40px;
    width: 100%;
    font-size: 130%;
    font-weight: normal;
}

.list-page-btn + .list-page-btn {
    margin-top: 0.5rem;
}

.index-btn {
    display: block;
    margin-top: 20px;
    width: 100%;
}

.index-btn + .index-btn {
    margin-top: 0.5rem;
}

/*
 * Navbar form
 */

.navbar-form {
    padding: 0 0.5em 0;
}

/*
 * Sidebar form
 */

.sidebar-form {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 15px;
}

/*
 * Search field
 */

.form-group#div_id_time_created_start,
.form-group#div_id_time_expire_start {
    display: inline-block;
    max-width: 50%;
    padding-right: 10px;
    margin: 0 -1px 15px;
}

.form-group#div_id_time_created_end,
.form-group#div_id_time_expire_end {
    display: inline-block;
    max-width: 50%;
    padding-left: 10px;
    margin: 0 -1px 15px;
}