/*
 * Globals
 */

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

/*
 * Page name and description
 */

.page-header {
    padding-bottom: 20px;
}

.page-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}

.page-description {
    font-size: 20px;
    color: #999;
}

/*
 * Advertisement
 */

.adv-img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

/*
 * Pagination
 */

.pager {
    margin-top: 3em;
}

/*
 * Buttons
 */

.list-page-btn {
    display: block;
    margin-top: 40px;
    width: 100%;
    font-size: 130%;
    font-weight: normal;
}

.list-page-btn + .list-page-btn {
    margin-top: 0.5rem;
}

.index-btn {
    display: block;
    margin-top: 20px;
    width: 100%;
}

.index-btn + .index-btn {
    margin-top: 0.5rem;
}