{% extends 'base.html' %}

{% load i18n crispy_forms_tags highlight %}

{% block title %}{% trans "Search results" %}{% endblock %}

{% block content %}

    <h2 class="text-center">{% trans "Search for orders" %}</h2>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form method="get" action="">
                {{ form|crispy }}

                <button type="submit" class="btn btn-primary btn-block">
                    {% trans "Search" %}
                </button>
            </form>

            {% if query %}
                <h3>{% blocktrans trimmed %}
                    {{ count }} result(s)
                {% endblocktrans %}
                </h3>

                {% for result in object_list %}
                    <div>
                        <a href="#">
                            {% filter truncatewords_html:10 %}
                                <h4>
                                    {% highlight result.object.title with query html_tag 'mark' %}
                                </h4>
                            {% endfilter %}
                        </a>
                        <p>
                            {% filter truncatewords_html:20 %}
                                {% highlight result.object.body with query html_tag 'mark' %}
                            {% endfilter %}
                        </p>
                    </div>
                {% empty %}
                    <p>{% trans "No results found." %}</p>
                {% endfor %}

                {% include 'pagination.html' %}
            {% else %}
                {# Show some example queries to run, maybe query syntax, something else? #}
            {% endif %}
        </div>
    </div>

{% endblock %}