{% load static i18n %}

<!DOCTYPE html>
<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>{% block title %}{% endblock %} - {% trans "Fellow Go" %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "css/ie10-viewport-bug-workaround.css" %}"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/style.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    {% if form %}
        {{ form.media }}
    {% endif %}

    {% if filter %}
        {{ filter.form.media }}
    {% endif %}

</head>

<body>
<div class="container">

    {% include "layout/navbar.html" %}

</div> <!-- /container -->

<div class="container">

    {% block heading %}{% endblock %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            {% block content %}

                <div class="row">

                    <article class="main col-md-8">
                        {% block main %}{% endblock %}
                    </article>

                    <aside class="col-md-4">
                        {% block sidebar %}

                            {% block sidebar-main-1 %}{% endblock %}

                            {% block sidebar-notice %}
                                {% include "layout/sidebar_notice.html" %}
                            {% endblock %}

                            {% block sidebar-main-2 %}{% endblock %}

                            {% block sidebar-adv %}
                                {% include 'layout/sidebar_adv.html' %}
                            {% endblock %}

                            {% block sidebar-main-3 %}{% endblock %}

                    {% endblock %}
                </aside>

                </div>

            {% endblock %}

        </div>
    </div>

    {% block footer %}
        {% include 'layout/footer.html' %}
    {% endblock %}

</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
<script src="{% static "js/opt-in.js" %}"></script>
</body>
</html>
