{% load i18n %}

<div class="thumbnail">
    <img class="adv-img"
         src="https://cdn.sstatic.net/img/ad-placeholder.png"
         alt="ad-placeholder"/>
    <div class="caption">
        <h4>{% trans "Put your advertisements here" %}</h4>
        <p>
            {% blocktrans trimmed %}
                Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                Donec id elit non mi porta gravida at eget metus. Nullam id
                dolor id nibh ultricies vehicula ut id elit.
            {% endblocktrans %}
        </p>
    </div>
</div>