{% load i18n %}

<div class="panel panel-info" id="sidebar-notice">
    <h3 class="panel-heading">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        {% trans "Site-wide notices" %}
    </h3>
    <div class="panel-group" id="accordion-notice" role="tablist"
         aria-multiselectable="true">
        <div class="panel panel-danger">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse"
                       data-parent="#accordion-notice" href="#collapseOne"
                       aria-expanded="false" aria-controls="collapseOne">
                        {% trans "Important notice" %}
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse"
                 role="tabpanel" aria-labelledby="headingOne">
                <p class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                    accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee
                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                    helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim
                    aesthetic synth nesciunt you probably haven't heard of them
                    accusamus labore sustainable VHS.
                </p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse"
                       data-parent="#accordion-notice" href="#collapseTwo"
                       aria-expanded="false" aria-controls="collapseTwo">
                        {% trans "Normal notice" %}
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse"
                 role="tabpanel" aria-labelledby="headingTwo">
                <p class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                    accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee
                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                    helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim
                    aesthetic synth nesciunt you probably haven't heard of them
                    accusamus labore sustainable VHS.
                </p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse"
                       data-parent="#accordion-notice" href="#collapseThree"
                       aria-expanded="false" aria-controls="collapseThree">
                        {% trans "Normal notice" %}
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse"
                 role="tabpanel" aria-labelledby="headingThree">
                <p class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                    accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee
                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                    helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim
                    aesthetic synth nesciunt you probably haven't heard of them
                    accusamus labore sustainable VHS.
                </p>
            </div>
        </div>
    </div>
</div>
